.biografia {
    background-color: #fff;
    height: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
}

.biografia > img {
    height: 80%;
}

ul {
    list-style-type: none;
}

ul > li {
    padding: 10px 0;
}