footer {
    background-color: var(--primary);
    height: 300px;
    padding: 3% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
}

footer > img {
    height: 40px;
}

footer ul {
    list-style-type: none;
    padding: 0 20px;
}

footer li {
    display: inline-block;
    font-size: 2.5vh;
}

footer li a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

footer li a:hover {
    font-weight: bold;
}