.bem-vindo {
    background-image: url("../images/lol-background.png");
    width: 100%;
    height: 100vh;
}

.bio {
    background-color: #fff;
    height: 750px;
}

.jogos-disponiveis {
    background-color:grey;
    height: 500px;
}

