.navbar {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    align-items: center;
}

.logo {
    height: 90%;
    width: 80px;
    background: white;
    margin: 0 5px;
}