.navbar {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.navbar--home {
    background-color: rgba(0, 0, 0, 0);
}

.navbar--equipe {
    background-color: rgba(0, 0, 0, 1);
}

.navbar div{
    display: inline-block;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 10px;
}

.logo img {
    height: 9vh; 
}

.titulo {
    color: white;
    font-size: 5vh;
    margin: 0 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0 20px;
}

.navbar li {
    display: inline-block;
    font-size: 2.5vh;
}

.navbar li a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.navbar li a:hover {
    color: var(--primary);
    background-color: rgba(247, 247, 247, 0.8);
    font-weight: bold;
}